name: Deploy to EC2

on:
  push:
    branches: ["main"]
  pull_request: 
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Configure SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
        run: |
          # Create deployment directory
          ssh $EC2_USER@$EC2_HOST "mkdir -p ~/app"

          # Copy file to EC2 instance
          rsync -avz \
            --exclude='.git' \
            --exclude='node_modules' \
            --exclude='.github' \
            . $EC2_USER@$EC2_HOST:~/app/

          # Stop existing pm2 process if exist with same name and start the application with PM2
          # ssh $EC2_USER@$EC2_HOST "
          #   cd ~/app &&
          #   npm install --omit=dev &&
          #   pm2 delete nodejs-app || true &&
          #   pm2 start index.js --name nodejs-app
          # "

          ssh $EC2_USER@$EC2_HOST "
            source ~/.bashrc &&
            cd ~/app &&
            npm install --omit=dev &&
            pm2 delete nodejs-app || true &&
            pm2 start index.js --name nodejs-app
          "
